<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track My Warranty</title>
    <link rel="stylesheet" href="/static/css/products.css">
</head>

<body>

    <!-- this is the navbar section  -->

    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Track My Warranty</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/templates/main.html" class="navbar__links">Home</a>
                    <a href="/templates/add_warranty.html" class="navbar__links">Add Product</a>
                    <a href="/templates/products.html" class="navbar__links">Products</a>
                </li>
                <li class="navbar__btn">
                    <a href="/templates/index.html" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
        <!-- services -->

        <div class="services">
            <h1>Brands We Have With Us</h1>
            <div class="services__container">
                <div class="services__card">
                    <h2>Addidas</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card1">
                    <h2>OMEN</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card2">
                    <h2>HP</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card3">
                    <h2>CASIO</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card4">
                    <h2>SONY</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card5">
                    <h2>SAMSUNG</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card6">
                    <h2>WHIRLPOOL</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card7">
                    <h2>FASTRACK</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
                <div class="services__card8">
                    <h2>LENSKART</h2>
                    <p>All Products Available</p>
                    <button>Get Started</button>
                </div>
            </div>
        </div>

        <!-- FOOter sectionnnn  -->

        <div class="footer__container">
            <h1>About Us</h1>
            <div class="link-cnt">
                <div id="links">
                    <a href="/">
                        <li> How it works</li>
                    </a><br>
                    <a href="/">
                        <li> Authentications </li>
                    </a><br>
                    <a href="/">
                        <li> Contact us </li>
                    </a><br>
                    <a href="/">
                        <li> Ties with brands </li>
                    </a><br>
                    <a href="/">
                        <li> Terms and service </li>
                    </a><br>
                </div>
                <div id="links">
                    <a href="/">
                        <li> How it works </li>
                    </a><br>
                    <a href="/">
                        <li> Authentications </li>
                    </a><br>
                    <a href="/">
                        <li> Contact us </li>
                    </a><br>
                    <a href="/">
                        <li> Ties with brands </li>
                    </a><br>
                    <a href="/">
                        <li> Terms and service </li>
                    </a><br>
                </div>
                <div id="links">
                    <a href="/">
                        <li> Creator </li>
                    </a><br>
                    <a href="/">
                        <li> Authentications </li>
                    </a><br>
                    <a href="/">
                        <li> Contact us </li>
                    </a><br>
                    <a href="/">
                        <li> Ties with brands </li>
                    </a><br>
                    <a href="/">
                        <li> Terms and service </li>
                    </a><br>
                </div>
            </div>
        </div>

        <div id="copyright">
            2024 | Track My Warranty | All Rights Reserved
        </div>

        <div class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/"></a>
                </div>

            </div>
        </div>
    </div>


    <!-- <script src="app.js"></script> -->

</body>

</html>